<mat-card>
    <mat-card-title>Add New Product</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
        <form [formGroup]="addProductForm" novalidate>
            <div class="row">
                <div class="col-md-5">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Product tName" name="productName" id="productName"
                            formControlName="productName">
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Description" name="description" id="description"
                            formControlName="description">
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-6">
                            <button mat-mini-fab color="primary" (click)="saveProduct()"
                                [disabled]="!addProductForm.valid">
                                <mat-icon>save</mat-icon>
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button mat-mini-fab color="warn" (click)="close()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>