<div class="form-group">
    <mat-form-field appearance="outline" class="w-100" color="primary">
        <mat-label>{{label}}</mat-label>
        <input matInput 
            [class.is-valid]="ngControl.valid"
            [class.is-invalid]="ngControl.invalid"
            type="{{type}}"
            class="form-control w-100"
            [formControl]="ngControl.control"
            placeholder="{{label}}">
            <div class="invalid-feedback" *ngIf="ngControl.control.errors?.required">
                Please enter {{label}}
            </div>
            <div class="invalid-feedback" *ngIf="ngControl.control.errors?.minlength">
                {{label}} must be at least {{ngControl.control.errors?.minlength['requiredLength']}}
            </div>
            <div class="invalid-feedback" *ngIf="ngControl.control.errors?.maxlength">
                {{label}} must be at most {{ngControl.control.errors?.maxlength['requiredLength']}}
            </div>
            <div class="invalid-feedback" *ngIf="ngControl.control.errors?.isMatching">
                Password do not match
            </div>
            <div class="valid-feedback">looks cool</div>
    </mat-form-field>
</div>
