<!-- <div class="user-profile" style="background: url(../../../../assets/images/bg-image.jpg) no-repeat;">
  <div class="profile-img"> 
    <img src="../../../../assets/user.png" alt="user" style="height:100px;">
  </div>
  <div class="profile-text"><a class=""> Hello<i class="ti-angle-down font-12 m-l-5"></i></a></div>
  <mat-menu class="mymegamenu">
    <button mat-menu-item>
      <mat-icon>account_box</mat-icon> Profile
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon> Sign Out
    </button>
  </mat-menu>
</div> -->
<!-- <div class="example-action-buttons">
  <button mat-button (click)="accordion.openAll()">Expand All</button>
  <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div> -->
<mat-drawer-container>
  <mat-drawer #drawer></mat-drawer>
</mat-drawer-container>
