<!-- <div class="user-profile" style="background: url(../../../../assets/images/bg-image.jpg) no-repeat;">
  <div class="profile-img"> 
    <img src="../../../../assets/user.png" alt="user" style="height:100px;">
  </div>
  <div class="profile-text"><a class=""> Hello<i class="ti-angle-down font-12 m-l-5"></i></a></div>
  <mat-menu class="mymegamenu">
    <button mat-menu-item>
      <mat-icon>account_box</mat-icon> Profile
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon> Sign Out
    </button>
  </mat-menu>
</div> -->
<!-- <div class="example-action-buttons">
  <button mat-button (click)="accordion.openAll()">Expand All</button>
  <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div> -->
<!-- <mat-drawer-container>
  <mat-drawer #drawer></mat-drawer>
</mat-drawer-container> -->
<mat-nav-list>
  <mat-accordion #sidePannel>
    <a mat-list-item [routerLink]="'/dashboard'" routerLinkActive="link-active">
      <mat-icon mat-list-icon>dashboard</mat-icon>Dashboard
    </a>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><mat-icon> business</mat-icon>&nbsp; Masters</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>
          <a mat-list-item [routerLink]="'/master/states'" routerLinkActive="link-active">State Master</a>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon mat-list-icon>person_outline</mat-icon>
          &nbsp; User Management
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>
          <a mat-list-item routerLink="/users" routerLinkActive="link-active">View Users</a>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</mat-nav-list>