<!-- <app-navbar></app-navbar> -->
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<!-- <app-toolbar></app-toolbar> -->
<!-- <app-navbar></app-navbar> -->

<!-- <div class="main-container">
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav id="snav" class="dark-sidebar pl-xs" 
      [mode]="'side'"
      fixedTopGap="0">
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content class="page-wrapper">
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
 -->